PORT=포트번호

DB_TYPE=mysql
DB_PORT=db포트번호
DB_USERNAME=db계정

DB_USERNAME_PROD=PROD_RDS_유저명
DB_USERNAME_DEV=DEV_RDS_유저명
DB_USERNAME_LOCAL=LOCAL_DB_유저명

DB_HOST_PROD=RDS_ip주소
DB_HOST_DEV=RDS_ip주소
DB_HOST_LOCAL=local_ip주소

DB_PASSWORD_PROD=PROD_db비밀번호
DB_PASSWORD_DEV=DEV_db비밀번호
DB_PASSWORD_LOCAL=local_db비밀번호

DB_DATABASE_PROD=PROD_SERVER_db이름
DB_DATABASE_DEV=DEV_SERVER_db이름
DB_DATABASE_LOCAL=LOCAL_SERVER_db이름

# DB_LOGGING_PROD = false
# DB_LOGGING_DEV = true
DB_LOGGING_LOCAL = true

# DB_SYNCHRONIZE_PROD = false
# DB_SYNCHRONIZE_DEV = true
DB_SYNCHRONIZE_LOCAL = true

JWT_SECRET_KEY = jwt secret key
JWT_EXPIRES_IN = jwt expires in

GITHUB_ACCESS_TOKEN=TOKEN번호
GITHUB_CLIENT_ID = 깃허브 oauth 앱 id
GITHUB_CLIENT_SECRETS = 깃허브 oauth 앱 secret

## Github Oauth
AUTH_CLIENT_ID = github oauth client id
AUTH_CLIENT_SECRETS = github oauth client secret
AUTH_ACCESS_TOKEN = github oauth access token

## Github api
PERSONAL_ACCESS_TOKEN = github token


## aws s3
S3_ACCESS_KEY_ID = access key
S3_SECRET_ACEESS_KEY = secret key
S3_BUCKET_NAME_PROD = bucket name
S3_BUCKET_NAME_DEV = bucket name